<div class="card">
  <h5 class="card-header">
    Products
  </h5>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.products}}
        <tr>
          <th scope="row">{{proID}}</th>
          <td>{{proName}}</td>
          <td>{{proDetails}}</td>
          <td>{{proPrice}}</td>
          <td>{{proCat}}</td>
          <td class="text-right">
            <a name="" id="" class="btn btn-sm btn-primary" href="javascript:;" role="button" title="Edit Product">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
  <div class="card-footer text-muted">
    Footer
  </div>
</div>